/etc/
/target/
/microservice-structure/target/
/monolithic-structure/target/
/monolithic-structure/library-management/target/
/microservice-structure/lms-account-service/target/
/microservice-structure/lms-api-gateway/target/
/microservice-structure/lms-config-service/target/
/microservice-structure/lms-infra/target/
/microservice-structure/lms-infra-auth/target/
/microservice-structure/lms-library-service/target/
/microservice-structure/lms-loan-service/target/
/microservice-structure/lms-notification-service/target/
/microservice-structure/lms-log-service/target/
/microservice-structure/lms-service-discovery/target/
/.idea/
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

